:root {
  --primary: #0000cd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: inter, sans-serif;
  font-size: 16px;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}

h4 {
  font-size: 1.5rem;
}

.container {
  max-width: clamp(62rem, 75vw, 86.3rem);
  min-width: 62rem;
  padding: 2.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 20px 20px 80px;
}

.box_primary {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  width: 100%;
  font-size: 0.8rem;
  gap: 1.3rem;
}

.box_secondary {
  display: flex;
  gap: 1.5rem;
  flex: 2 1 38.3rem;
}

.text_field {
  flex: 1 1 26rem;
  height: 2.5rem;
}

.icon {
  width: 0.8rem;
  height: 0.8rem;
}

.box_secondary a {
  display: flex;
  max-width: clamp(8rem, 2.5vw, 10rem);
}
