:root {
  --primary: #0000cd;
  --text: #29283f;
  --gray: #eaeaec;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
  font-size: 16px;
  font-family: Poppins, sans-serif;
}

h4 {
  font-size: 1.5rem;
  margin-bottom: 0.8rem;
}

.container {
  margin: auto;
  min-width: 70vw;
  min-height: 40vh;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: clamp(30rem, 70vw, 64.2rem);
  box-shadow: rgba(0, 0, 0, 0.35) 20px 20px 80px;
  padding: 2rem;
  gap: 0.6rem;
}

.box_primary {
  flex: 1 1 20.85rem;
}

.box_secondary {
  display: flex;
  flex-wrap: wrap;
  flex: 2 1 32rem;
  gap: 0.3rem;
  align-self: flex-end;
  flex-direction: row;
}

.box_secondary p {
  font-size: 0.8rem;
  align-self: center;
  flex: 0 1 4rem;
}

.text_field {
  width: 100%;
  height: 2.5rem;
}

.all_box_services {
  display: flex;
  gap: 0.4rem;
  flex: 0 0 24rem;
}

.box_secondary a {
  display: flex;
  gap: 0.4rem;
  align-self: flex-end;
  border: 1px solid var(--gray);
  text-decoration: none;
  font-size: 0.8rem;
  padding: 0.4rem;
  border-radius: 0.9rem;
  flex: 2 0 6rem;
}

.icon {
  width: 0.8rem;
  height: 0.8rem;
}
