:root {
  --primary: #0000cd;
  --text: #29283f;
  --gray: #eaeaec;
  --white: #ffffff;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  font-size: 16px;
  font-family: Poppins, sans-serif;
  background: var(--text);
}

.app {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: clamp(30rem, 70vw, 60.2rem);
  background: white;
  min-width: 30rem;
  min-height: 10rem;
  padding: 2rem;
  gap: 0.4rem;
}

h4 {
  margin-left: 0;
  font-size: 1.6rem;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 0.8rem;
}

.box_primary {
  flex: 1 1 23.3rem;
  max-width: 35.85rem;
  margin-right: 0px;
}

.box_secondary {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 32rem;
  max-width: 32rem;
  gap: 0.3rem;
}

.box_secondary p {
  font-size: 0.8rem;
  line-height: 1.2rem;
  align-self: center;
  flex: 1 1 5.5rem;
}

.text_field {
  width: 100%;
  height: 2.5rem;
}

.all_box_services {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.4rem;
  flex: 1 1 26rem;
}

.all_box_services a {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.3rem;
  justify-content: center;
  border: 1px solid var(--gray);
  text-decoration: none;
  font-size: 0.8rem;
  padding: 0.8rem 0.1rem;
  border-radius: 1.2rem;
  flex: 0 0 5.9rem;
}

.all_box_services a:hover {
  background-color: var(--primary);
  color: var(--white);
}

.all_box_services a:hover .icon {
  fill: var(--white);
}

.icon {
  width: 0.9rem;
  height: 0.9rem;
}
